{{#base}}
    <head>
        <title>404 Error</title>
    </head>
    <body>
        <h1>The item you requested is not available. (404)</h1>
        <p>You don't have any access to this page.</p>
    </body>
{{/base}}
{{>base}}