{{#base}}
	<p>Topic: {{topic.title}}</p>
	
	<p>Entries:</p>
	<a href="/topics/{{topic.id}}/entries/new_entry">Add a new entry</a>
	<ul>
	{{#entries}}
		<li>
			<p>{{text}}</p>
		</li>
	{{/entries}}
	</ul>
	{{^entries}}
		<p>There are no entries here yet.</p>
	{{/entries}}
	
	
{{/base}}
{{>base}}