{{#base}}

	<form action="/logout" method="post">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
    
	<p>Topics:</p>
	
	<ul>
	{{#topics}}
		<li>{{title}}</li>
    {{/topics}}
    </ul>
    {{^topics}}
    	<p>No topics has been added yet.</p>
    {{/topics}}
    
    <a href="/new_topic">Add a new topic</a>
{{/base}}
{{>base}} 