{{#base}}

	<div>
	<form action="/logout" method="post">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
	</div>

	<p>Topics:</p>
	
	<ul>
	{{#topics}}
		<li>{{title}}</li>
    {{/topics}}
    </ul>
    
    <a href="/new_topic">Add a new topic</a>
{{/base}}
{{>base}} 